[Desktop Entry]
Encoding=UTF-8
Name=초보개발자 이야기. :: MySQL : 데이터베이스 용어 정리 (리레이션, 튜플, 에트리뷰트, 디그리, 카디널러티)에 링크
Type=Link
URL=http://ra2kstar.tistory.com/24
Icon=text-html
