/*
 * a tag
 */

a:link {
    color: #ccffff;
    text-decoration: none;
}

a:visited {
    color: #ccffff;
    text-decoration: none;
}

a:active {
    color: #ccffff;
    text-decoration: none;
}

a:hover {
    color: #ccffcc;
    text-decoration: underline;
}


/*
 *  classes
 */

.solDiv {
    padding: 30px;
    border: 2px solid brown;
}

.repDiv {
    padding: 20px;
    border: 1px solid lightblue;
}

.rpltextDiv {
    padding: 4px;
}

.vl {
    border-left: 5px solid green;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0;
}




/*
 *  ids
 */


/*
#header {
    position: fixed;
    z-index: 999;

    align-content: center;
}
*/

#title {
    background-color: #ccffff;
    color: #181818;

    /*border-radius: 10px;*/
    font-size: 30px;
    margin: auto;
    padding: 30px;
    text-align: center;

    align-content: true;
    width: 100%;
}

div#menubar {
    position: -webkit-sticky;
    position: sticky;

    background-color: #3344ff;
    color: #ccffff;
    top: 0;
    padding: 10px;
    font-size: 15px;
    width: 100%;

    z-index: 999;
}


#opening {
    font-size: 100px;
    background-color: #aaccaa;
    align-items: center;
    margin: auto;
    padding: 20px;
    text-align: center;
}

#qSel {
    top: 150;
}

#groundDiv {
    position: absolute;

    top: 150;
    font-size: 15px;
}

#qzTitle {
    color: red;
}

#qzDesc {
    color: blue;
}

#qzContents {
    color: black;
}