[Desktop Entry]
Encoding=UTF-8
Name=[c] 이진트리/트리 순회법 코드(전위/중위/후위) - 후니넷에 링크
Type=Link
URL=https://www.hooni.net/xe/study/66487
Icon=text-html
Name[ko]=이진트리/트리 순회법 코드(전위/중위/후위)
