/* gugu.css */

body {
    position: relative;
    background-color: gray;
}

div {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: black;
    color: darkseagreen;
    border: 2px solid white;
}

#div1 {
    left: 1px
}

#div2 {
    left: 301px
}

#div3 {
    left: 601px
}

#div4 {
    left: 901px
}

input[type=button] {
    position: absolute;
    width: 300px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
    color: gold;
    border: 2px solid white
}

#btn1 {
    top: 320px;
    left: 1px
}

#btn2 {
    top: 320px;
    left: 301px
}

#btn3 {
    top: 320px;
    left: 601px
}

#btn4 {
    top: 320px;
    left: 901px
}