/* /static/style/pc33.css */


/*
 * =====================================================
 *  classes
 * =====================================================
 */


/*
.solDiv {
    border: 2px solid brown;
    font-size: 18px;
    padding: 30px;
}

.repDiv {
    left: 7%;
    border: 1px solid lightblue;
    padding: 20px;
    position: relative;
}

.replCombo {
    padding: 10px;
}

.rpltextDiv {
    padding: 4px;
}


.vl {
    border-left: 5px solid green;
    height: 100%;
    left: 0%;
    position: absolute;
    top: 5;
}

*/

/*
 * =====================================================
 *  ids
 * =====================================================
 */

#title {
    align-content: center;
    background-color: #ccffff;
    color: #2244ff;
    font-size: 30px;
    margin: auto;
    padding: 30px;
    text-align: center;
    width: 100%;
}

div#menubar {
    background-color: #3344ff;
    color: #ccffff;
    font-size: 15px;
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 999;
}

#opening {
    background-color: #ebd61a;
    font-size: 2em;
    margin: auto;
    /*text-align: center;*/
    width: 100%;
    height: 100%;
}

#container {
    align-content: center;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}

/*
 * =====================================================
 * tags
 * =====================================================
 */


a:link {
    color: #181818;
    text-decoration: none;
}

a:visited {
    /*color: #eeffee;*/
    color: red;
    text-decoration: none;
}

a:active {
    color: #181818;
    text-decoration: none;
}

a:hover {
    color: #181818;
    text-decoration: none;
}


/*

#groundDiv {
    font-size: 15px;
    position: absolute;
    top: 150;
    width: 100%;
}

#qSel {
    top: 150;
    font-size: 30px;
}


#qzTitle {
    color: red;
    font-size: 20px;
    text-decoration: underline overline;
}

#qzDesc {
    color: blue;
    font-size: 15px;
}


/*
#qzContents {
    color: black;
    font-size: 20px;
    background-color: #eeeeee;
    width : 600px;
}
*/


